@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Iransans';
  src: url('../public/fonts/iransans/Light.woff2');
}
@font-face {
  font-family: 'IransanssBold';
  src: url('../public/fonts/iransans/Bold.woff2');
}
@font-face {
  font-family: 'IransansMedium';
  src: url('../public/fonts/iransans/Medium.woff2');
}
@font-face {
  font-family: 'IransansRegular';
  src: url('../public/fonts/iransans/Regular.woff2');
}


body {
  direction: rtl;
  margin: 0;
  font-family:Iransans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
